@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination {
  @include margin-top(2);
  display: flex;

  &__prev {
    width: 50%;
    text-align: left;

    &-link {
      color: $prev-link;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $prev-link-hover;
      }

      &--disable {
        pointer-events: none;
        color: $prev-link-disabled;
      }

    }

  }

  &__next {
    width: 50%;
    text-align: right;

    &-link {
      color: $next-link;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $next-link-hover;
      }

      &--disable {
        pointer-events: none;
        color: $next-link-disabled;
      }

    }

  }

}