/** 
 * Variables
 */

 //Classic Atom One Dark Pro
$purple: #c678dd;
$error: #f44747;
$coral: #e06c75;
$whiskey: #d19a66;
$chalky: #e5c07b;
$lightDark: #7f848e;
$dark: #5c6370;
$malibu: #61afef;
$green: #98c379;
$fountainBlue: #56b6c2;
$invalid: #ffffff;
$lightWhite: #abb2bf;

$activityBarbackground: #282c34;
$activityBarforeground: #d7dae0;
$activityBarBadgebackground: #4d78cc;
$activityBarBadgeforeground: #f8fafd;
$badgebackground: #282c34;
$buttonbackground: #404754;
$debugToolBarbackground: #21252b;
$diffEditorinsertedTextBackground: #00809b33;
$dropdownbackground: #21252b;
$dropdownborder: #21252b;
$editorbackground: #282c34;
$editorforeground:#abb2bf;
$editorErrorforeground: #c24038;
$editorIndentGuideactiveBackground: #c8c8c859;
$editorMarkerNavigationbackground: #21252b;
$editorRulerforeground: #abb2bf26;
$editorlineHighlightBackground: #2c313c;
$editorselectionBackground: #67769660;
$editorselectionHighlightBackground: #ffffff10;
$editorselectionHighlightBorder: #ddd;
$editorCursorbackground: #ffffffc9;
$editorCursorforeground: #528bff;
$editorBracketMatchborder: #515a6b;
$editorBracketMatchbackground: #515a6b;
$editorfindMatchBackground: #42557b;
$editorfindMatchBorder: #457dff;
$editorfindMatchHighlightBackground: #314365;
$editorwordHighlightBackground: #484e5b;
$editorwordHighlightBorder: #7f848e;
$editorwordHighlightStrongBackground: #abb2bf26;
$editorwordHighlightStrongBorder: #7f848e;
$editorGroupbackground: #181a1f;
$editorGroupborder: #181a1f;
$editorGroupHeadertabsBackground: #21252b;
$editorIndentGuidebackground: #3b4048;
$editorLineNumberforeground: #495162;
$editorActiveLineNumberforeground: #737984;
$editorWhitespaceforeground: #3b4048;
$editorHoverWidgetbackground: #21252b;
$editorHoverWidgetborder: #181a1f;
$editorSuggestWidgetbackground: #21252b;
$editorSuggestWidgetborder: #181a1f;
$editorSuggestWidgetselectedBackground: #2c313a;
$editorWidgetbackground: #21252b;
$focusBorder: #464646;
$inputbackground: #1d1f23;
$listactiveSelectionBackground: #2c313a;
$listactiveSelectionForeground: #d7dae0;
$listfocusBackground: #383e4a;
$listhoverBackground: #292d35;
$listhighlightForeground: #c5c5c5;
$listinactiveSelectionBackground: #2c313a;
$listinactiveSelectionForeground: #d7dae0;
$peekViewEditorbackground:#1b1d23;
$peekViewEditormatchHighlightBackground: #29244b;
$peekViewResultbackground:#22262b;
$scrollbarSliderbackground: #4e566660;
$scrollbarSlideractiveBackground: #747d9180;
$scrollbarSliderhoverBackground: #5a637580;
$sideBarbackground: #21252b;
$sideBarSectionHeaderbackground: #282c34;
$statusBarbackground: #21252b;
$statusBarforeground: #9da5b4;
$statusBarItemhoverBackground: #2c313a;
$statusBarnoFolderBackground: #21252b;
$statusBardebuggingBackground: #7e0097;
$statusBardebuggingBorder: #66017a;
$statusBardebuggingForeground: #ffffff;
$statusBarItemremoteForeground: #f8fafd;
$statusBarItemremoteBackground: #4d78cc;
$tabactiveBackground: #282c34;
$tabborder: #181a1f;
$tabinactiveBackground: #21252b;
$tabhoverBackground: #323842;
$tabunfocusedHoverBackground: #323842;
$terminalforeground: #c8c8c8;
$terminalansiBlack: #2d3139;
$terminalansiBlue: #61afef;
$terminalansiGreen: #98c379;
$terminalansiYellow: #e5c07b;
$terminalansiCyan: #56b6c2;
$terminalansiMagenta: #c678dd;
$terminalansiRed: #e06c75;
$terminalansiWhite: #d7dae0;
$terminalansiBrightBlack: #7f848e;
$terminalansiBrightBlue: #528bff;
$terminalansiBrightGreen: #98c379;
$terminalansiBrightYellow: #e5c07b;
$terminalansiBrightCyan: #56b6c2;
$terminalansiBrightMagenta: #7e0097;
$terminalansiBrightRed: #f44747;
$terminalansiBrightWhite: #d7dae0;
$titleBaractiveBackground: #282c34;
$titleBaractiveForeground: #9da5b4;
$titleBarinactiveBackground: #21252b;
$titleBarinactiveForeground: #6b717d;
$textLinkforeground: #61afef;

// Colors
$color-base: $editorforeground;
$color-primary: $malibu;
$color-secondary: $whiskey;

$color-white: #FFF;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Typographic
$typographic-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $editorforeground;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
