/** 
 * Variables
 */

 //Classic Atom One Dark Pro Colors
$purple: #c678dd;
$coral: #e06c75;
$whiskey: #d19a66;
$chalky: #e5c07b;
$light: #c8c8c8;
$lightdark:#abb2bf;
$dark: #282c34;
$malibu: #61afef;
$green: #98c379;

// Colors for things
$background: $dark;
$article-title: $light;
$article-text: $lightdark;
$article-link: $malibu;
$article-link-hover: $green;
$border-dark: $malibu;
$border-light: $light;
$icon: $whiskey;
$icon-hover: $green;
$menu-link: $coral;
$menu-link-active: $coral;
$menu-link-hover: $green;
$home-button: $coral;
$home-button-hover: $green;
$date: $whiskey;
$hr: $lightdark;
$tag: $malibu;
$tag-hover: $green;
$author-name: $malibu;
$author-name-hover: $green;
$author-subtitle: $light;
$copyright: $lightdark;
$figcaption: $whiskey;
$read-more: $green;
$prev-link: $purple;
$prev-link-hover: $green;
$prev-link-disabled: $background;
$next-link: $chalky;
$next-link-hover: $green;
$next-link-disabled: $background;

// Typographic
$typographic-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $article-text;
$typographic-link-p-font-color: $article-link;
$typographic-link-s-font-color: $article-link-hover;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
